<m-circle three="true" ctrl="ctrl"
  angle="4.7123889804"
  elements="elements/events/day_1.html"
  s-angle="4.9193889804"
  s-elements="elements/events/day_2.html"
  legend="true"
  extra="extra/events/day.html">

  <m-circle-slides ctrl="ctrl" ng-if="ctrl.event"
    template="events/slide.html"
    on-slide-finish="ctrl.setEvent(data);"
    on-animation-start="ctrl.animated = true;"
    on-animation-end="ctrl.animated = false;"></m-circle-slides>
  <div class="not-found" ng-if="!ctrl.event">
    No event found.
  </div>
</m-circle>
