{% extends "base.html" %}

{% block main_content %}
  <div class="circle-holder">
    <div class="circle" id="circle_1"
        data-angle="{% block circle_angle %}0{% endblock circle_angle %}"
        data-padding="{% block circle_padding %}350{% endblock circle_padding %}"
        data-v-padding="{% block circle_v_padding %}100{% endblock circle_v_padding %}"
        data-legend="{% block circle_legend %}false{% endblock circle_legend %}"
        {% block circle_attrs %}{% endblock circle_attrs %}>
      {% block circle_elements %}{% endblock circle_elements %}

      <div class="circle inner" id="circle_2"
          data-padding="{% block circle_2_padding %}40{% endblock circle_2_padding %}"
          data-angle="{% block circle_2_angle %}0.26{% endblock circle_2_angle %}">
        {% block circle_2_elements %}{% endblock circle_2_elements %}

        <div class="circle inner {% block content_circle_class %}{% endblock content_circle_class %}"
            id="content-circle"
            data-padding="{% block circle_3_padding %}40{% endblock circle_3_padding %}"
            data-angle="{% block circle_3_angle %}0.2{% endblock circle_3_angle %}">

          {% block circle_3_elements %}{% endblock circle_3_elements %}
          <div class="content">
            {% block circle_base_content %}
              <div class="scrollable-holder nano">
                <div class="scrollable nano-content">
                  {% block circle_content %}{% endblock circle_content %}
                </div>
              </div>
            {% endblock circle_base_content %}
          </div>

          {% block circle_3_extra %}{% endblock circle_3_extra %}
        </div>
      </div>

      {% block circle_extra %}{% endblock circle_extra %}
    </div>
  </div>
{% endblock main_content %}
