{% extends "base_3_circle.html" %}
{% load static %}

{% block body_id %}e_market{% endblock body_id %}

{% block circle_legend %}true{% endblock circle_legend %}

{% block circle_elements %}
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>

  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>

  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
{% endblock circle_elements %}

{% block circle_2_elements %}
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>

  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>

  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
  <div class="r c hvr-pop">
    <div class="o"></div>
    <a href=""></a>
  </div>
{% endblock circle_2_elements %}


{% block circle_3_extra %}
  <a class="scroll-left"></a>
  <a class="scroll-right"></a>
  <a class="search"></a>
{% endblock circle_3_extra %}

{% block content_circle_class %}w{% endblock content_circle_class %}

{% block circle_content %}
  <img src="{% static "img/test/dress.png" %}" alt="">
{% endblock circle_content %}


{% block legend %}
  <div class="categories">
    <a href="#" class="pull-left">
      <img src="{% static "img/icons/e_market/tops_s.svg" %}" alt="Tops">
      tops
    </a>
    <a href="#" class="pull-right">
      <img src="{% static "img/icons/e_market/bottoms_s.svg" %}" alt="Tops">
      tops
    </a>
  </div>
  <h3><img src="{% static "img/icons/e_market/dresses_simple.svg" %}" alt=""> dresses</h3>
  <div class="price">usd 200</div>

  <a href="#" class="buy">
    <span></span>
    i'll use this
  </a>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis excepturi magni atque placeat laboriosam, doloribus?</p>

  <div class="options">
    <div class="t">body <a href="#">chart</a></div>
    <div class="i">
      <a href="#">XS</a>
      <a href="#">S</a>
      <a href="#">M</a>
      <a href="#">L</a>
      <a href="#">XL</a>
    </div>
  </div>

  <div class="options">
    <div class="t">color</div>
    <div class="i">
      <a href="#" class="color"></a>
      <a href="#" class="color"></a>
      <a href="#" class="color"></a>
      <a href="#" class="color"></a>
      <a href="#" class="color"></a>
    </div>
  </div>

  <div class="options">
    <div class="t">qty</div>
    <div class="i">
      <a href="#" class="up"></a>
      <a href="#">5</a>
      <a href="#" class="down"></a>
    </div>
  </div>
{% endblock legend %}
