{% extends "base_circle.html" %}
{% load static %}

{% block body_id %}home{% endblock body_id %}

{% block circle_elements %}
  <div class="r hvr-pop">
    <div class="o"></div>
    <div class="rev"><a href="#" class="icon big border hover ripple icon-b"></a></div>
  </div>
  <div class="r hvr-pop">
    <div class="o"></div>
    <div class="rev"><a href="#" class="icon big border hover ripple icon-d"></a></div>
  </div>
  <div class="r hvr-pop">
    <div class="o"></div>
    <div class="rev"><a href="#" class="icon big border hover ripple icon-c"></a></div>
  </div>
  <div class="r hvr-pop">
    <div class="o"></div>
    <div class="rev"><a href="#" class="icon big border hover ripple icon-a"></a></div>
  </div>
{% endblock circle_elements %}
