{% extends "base_circle.html" %}
{% load static %}

{% block body_id %}signup{% endblock body_id %}

{% block main_class %}reverse v{% endblock main_class %}

{% block circle_padding %}350{% endblock circle_padding %}

{% block circle_extra %}<a href="#" class="close"></a>{% endblock circle_extra %}

{% block circle_content %}
  <div class="news-icon">
    <img src="{% static "img/icons/base/mo_news_gray.svg" %}" alt="Mo News"
        class="icon icon-bg-gray">
    news
  </div>
  <h1>mo-news</h1>
  <p>receive the lastest and greatest</p>

  <form action="">
    <div class="form-group">
      <label>full name</label>
      <input type="text">
    </div>
    <div class="form-group">
      <label>email</label>
      <input type="text">
    </div>
    <div class="form-actions bottom">
      <input type="submit" value="sign up!" class="btn">
    </div>
  </form>
{% endblock circle_content %}
