<div class="r big effect" ng-class="{active: ctrl.step == 'profile'}">
  <div class="o"></div>
  <div class="c1"></div><div class="c2"></div>
  <a href="/ur-account" class="rev step split">contact<br>info</a>
</div>

<div class="r big effect" ng-class="{active: ctrl.step == 'billing'}">
  <div class="o"></div>
  <div class="c1"></div><div class="c2"></div>
  <a href="/ur-account/billing" class="rev step">billing</a>
</div>

<div class="r big effect" ng-class="{active: ctrl.step == 'shipping'}">
  <div class="o"></div>
  <div class="c1"></div><div class="c2"></div>
  <a href="/ur-account/shipping" class="rev step">shipping</a>
</div>

<div class="r big effect" ng-class="{active: ctrl.step == 'orders'}">
  <div class="o"></div>
  <div class="c1"></div><div class="c2"></div>
  <a href="/ur-account/orders" class="rev step split">order<br>history</a>
</div>
