<m-circle ctrl="ctrl"
  angle="{{ ctrl.angle }}"
  elements="elements/users/account.html">

  <h1>my account</h1>
  <form name="f" class="profile">
    <div class="form-group"
        ng-class="{'has-error': f.email.$dirty && f.email.$invalid}">
      <label>email address</label>
      <input type="email" name="email" ng-model="ctrl.user.email"
        required>
    </div>

    <div class="form-group">
      <label>phone number</label>
      <input type="text" name="phone" ng-model="ctrl.user.phone">
    </div>

    <div class="form-group"
        ng-class="{'has-error': f.password.$dirty && f.password.$invalid}">
      <label>password</label>
      <input type="password" name="password" ng-model="ctrl.user.password">
    </div>

    <div class="form-group"
        ng-class="{'has-error': f.confirmPassword.$dirty && f.confirmPassword.$invalid}">
      <label>confirm password</label>
      <input type="password" name="confirmPassword"
        ng-model="ctrl.user.confirm_password"
        password-match="ctrl.user.password">
    </div>

    <div class="text-danger" ng-show="error">{{ error }}</div>

    <div class="form-actions">
      <button type="submit" class="btn left"
        ng-click="ctrl.update();"
        ng-disabled="f.$invalid || f.$pending">
        <span ng-show="ctrl.loading">loading...</span>
        <span ng-hide="ctrl.loading">update</span>
      </button>
    </div>
  </form>
</m-circle>
